.header{
    border-bottom: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.link{
    display: inline-block;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-right: 5px;
    color: blue;
    background-color: lightgrey;

    &[aria-current="page"]{
        background-color: orange;
        color: #000000; 
        font-weight: 700;
    }
}
